<div class="container">
<h1>Editing Travel</h1>

<%= render 'form' %>

<button type="button" class="btn btn-primary">
	<%= link_to 'Show', @travel %>
</button>
<button type="button" class="btn btn-primary">
	<%= link_to 'Back', travels_path %>
</button>
</div>