<!DOCTYPE html>
<html>
<head>
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

  <title></title>
	 	


</head>
<body>





<div class="divdark">
	<div>
    <%= image_tag("JasminWirthgenHeader95.png", :style => "width: 100%; margin-top: -20px;") %>
		<!-- class="img-responsive background"--> 
    <br>
	</div>	
</div>


<div class="divcolor3">
  <div class="container-fluid">
  <!--<div class="row">-->
    <div class="col-lg-12 col-md-12 col-sm-12 lala">
          <br>
          <br>
          <%= image_tag("profile_pic.png", :style => "display: block; margin: 0 auto; width: 150px; border:1px solid gray; padding: 5px;", :class => 'img-circle') %> 
          
          <br>
          <p class="pheader2">Jasmin Wirthgen</p>
          <p class="pheader2">Graphics from Berlin</p>
      
    </div>
  <!--</div>-->
  </div>
</div>


<div class="divcolor2">
  <div class="container-fluid">
  <!--<div class="row">-->
    <div class="col-lg-3 col-md-3 col-sm-12 lala">     
      <div id="divbgcolor"> 
          <p class="pheader">&#10086; 3D Art</p>
      </div>
        <%= image_tag("Category_3DArt.png", :class => 'thumbimage') %> 
        <p class="ptext">Modo</p>
    </div>
   

    <div class="col-lg-3 col-md-3 col-sm-12 lala">
      <div id="divbgcolor"> 
         <p class="pheader">&#10086; Illustration</p>
      </div>
      <%= image_tag("Category02_Illustration.png", :class => 'thumbimage') %> 
      <p class="ptext">Photoshop | Illustrator</p>
    </div>


    <div class="col-lg-3 col-md-3 col-sm-12 lala">
      <div id="divbgcolor"> 
          <p class="pheader">&#10086; UI/UX</p>
      </div>
      <%= image_tag("Category04_UI.png", :class => 'thumbimage') %> 
      <p class="ptext">Unity | Illustrator</p>
    </div>


    <div class="col-lg-3 col-md-3 col-sm-12 lala">     
      <div id="divbgcolor"> 
          <p class="pheader">&#10086; Graphic-Design</p>
      </div>
        <%= image_tag("Category03_design.png", :class => 'thumbimage') %> 
        <p class="ptext">Concept | Layout | CI</p>
    </div>
  <!--</div>-->
  </div>
</div>







<div class="divcolor3">
  <div class="container-fluid">
	<!--<div class="row">-->
		<div class="col-lg-4 col-md-4 col-sm-12 lala">
			<div id="divbgcolor"> 
          <p class="pheader">&#10086; Training & Tools</p>
      </div>
      <ul>
          <li>Game Art (Isometric Objects, UI&UX)</li>
          <li>3D: Modo & Basics in Maya</li>
  				<li>Unity (Intermediate, Focus on UI & Simulation)</li>
          <li>Basics in Animation (Internship at Studio 88)</li>
          <li>Illustration (Vector & Digital Painting)</li>
          <li>Graphic-Design (Print and Basics in Webdesign & CI</li>
  	      <li>More Tools: InDesign</li>
  				<li>More Training: Basics in html & rails</li>
			</ul>
		</div>

    <div class="col-lg-4 col-md-4 col-sm-12 lala">
      <div id="divbgcolor"> 
          <p class="pheader">&#10086; Experience</p>
      </div>
      <ul>
          <li>Animation Intern (Studio 88)</li>
          <li>Freelance: Advertisement & Graphics</li>
          <li>2D & 3D Game Art at Wooga</li>
          <li>UI & UX at Wooga</li>
      </ul>
    </div>
 
		<div class="col-lg-4 col-md-4 col-sm-12 lala">
			<div id="divbgcolor">
          <p class="pheader">&#10086; Interests</p>
      </div>
			       <ul>
				      <li>Visual Storytelling</li>
  			     	<li>Mechanical Art</li>
  				    <li>Robots & Machines</li>
  				    <li>Martial Arts, Yoga, Swimming</li>
  				    <li>Posting</li>
              <li>I ♥ animals</li>
  				    <li>Try out new stuff</li>
			       </ul>
      </div>
	
	<!--</div>-->
  </div>
</div>





<div class="divcolor4">
  <div class="container-fluid">
	<!--<div class="row">-->
		<div class="col-lg-12 col-md-12 col-sm-12 lala">
			<div id="divbgcolor"> <p class="pheader">&#10086; Three most important experiences &#10086;</p></div>
      
          <p class="ptext">Meditation & Buddhism</p>
          <p class="ptext">the sickness of a family member</p>
          <p class="ptext">moving to Berlin & a break up</p>
      
		</div>
	<!--</div>-->
  </div>
</div>

<br>
<br>
<br>

</body>
</html>


